---
title: "Pefil";
import ProfileFotoSrc from "@/services/client/utils/ProfileFotoSrc.svelte";
import Layout from "@/layouts/Layout.astro";
import Main from "@/components/Main.astro";
import Feedback_form from "@/sections/Feedback_form/Feedback_form";
import Container_card from "@/components/Container_card.astro";
import {fetchServiceConsuptionById} from "@/services/server/fetching/fetch";
import type {ServiceConsumption_type} from "@/models/types";


// Obtén el estado de la sesión desde los props pasados por el layout
const { test } = Astro.props;

//SERVICE CHECK//////////////////////////////////////////
import {servicecheck} from "@/services/server/fetching/fetch";
if(!await servicecheck(Astro.clientAddress)) return Astro.redirect("/not_connected");
//SERVICE CHECK//////////////////////////////////////////

//SESSION HANDLER////////////////////////////////////////
 import type {sessionInfoState} from "@/models/types"; // prettier-ignore
 import {SessionState} from "@/models/types"; // prettier-ignore
 import { sessionHandling } from "@/services/server/logic/handlers/sessionhandler.astro";
 const sessionInfoState = await sessionHandling(Astro.request, Astro.cookies); // prettier-ignore
  if (sessionInfoState.sessionState === 1 || sessionInfoState.sessionState === 0) return Astro.redirect("/registro"); // prettier-ignore
if (!sessionInfoState.sessionInfo.profile?.active) return Astro.redirect("/403"); // prettier-ignore
//SESSION HANDLER////////////////////////////////////////

//SERVICE CONSUMPTION HANDLER////////////////////////////////////////
const serviceConsumption = await fetchServiceConsuptionById(Number(Astro.params.id)) as ServiceConsumption_type;
console.log(serviceConsumption);
//SERVICE CONSUMPTION HANDLER////////////////////////////////////////

//RESTRICTIONS////////////////////////////////////////
if (sessionInfoState.sessionInfo.profile.id !== serviceConsumption.client_id) return Astro.redirect("/");
if (serviceConsumption.rating !== null) return Astro.redirect("/");
if (serviceConsumption.id != Number(Astro.params.id)) return Astro.redirect("/");
//RESTRICTIONS////////////////////////////////////////

console.log(test);
const userName =
  sessionInfoState.sessionInfo.profile?.username ||
  sessionInfoState.sessionInfo.OAuth.user?.name ||
  "a Imagen";
---

<Layout title=`Bienvenido ${userName}`>
  <Main class="w-full h-full flex flex-col justify-items-center pt-16">
    <Container_card>
      <p slot="user">
        {sessionInfoState.sessionInfo.profile?.username}
      </p>
      <Feedback_form serviceConsumption_Id={serviceConsumption.id} client:load/>
    </Container_card>
  </Main>
  {sessionInfoState.sessionState === SessionState.Registered && <ProfileFotoSrc imgPerfil={sessionInfoState.sessionInfo.profile?.image as string} client:load/>}
</Layout>
