---
title: "Pefil";
import ProfileFotoSrc from "@/services/client/utils/ProfileFotoSrc.svelte";
import Layout from "@/layouts/Layout.astro";
import Main from "@/components/Main.astro";
import Profile_section from "@/sections/Profile_section.astro";
import Personal_section from "@/sections/Personal_section/Personal_section";
import Container_card from "@/components/Container_card.astro";

// Obtén el estado de la sesión desde los props pasados por el layout
const { test } = Astro.props;

//SERVICE CHECK//////////////////////////////////////////
import {servicecheck} from "@/services/server/fetching/fetch";
if(!await servicecheck()) return Astro.redirect("/not_connected");
//SERVICE CHECK//////////////////////////////////////////

//SESSION HANDLER////////////////////////////////////////
 import type {sessionInfoState} from "@/models/types"; // prettier-ignore
 import {SessionState} from "@/models/types"; // prettier-ignore
 import { sessionHandling } from "@/services/server/logic/handlers/sessionhandler.astro";
 const sessionInfoState = await sessionHandling(Astro.request, Astro.cookies); // prettier-ignore
  if (sessionInfoState.sessionState === 1 || sessionInfoState.sessionState === 0) return Astro.redirect("/registro"); // prettier-ignore
if (!sessionInfoState.sessionInfo.profile.active) return Astro.redirect("/403"); // prettier-ignore
//SESSION HANDLER////////////////////////////////////////

console.log(test);
const userName =
  sessionInfoState.sessionInfo.profile?.username ||
  sessionInfoState.sessionInfo.OAuth.user?.name ||
  "a Imagen";
---

<Layout title=`Bienvenido ${userName}`>
  <Main class="w-full h-full flex flex-col justify-items-center pt-16">
    <Container_card>
      <Profile_section
        profilePhotoSrc={sessionInfoState.sessionInfo.profilePhotoSrc}
        role={sessionInfoState.sessionInfo.role}
      >
        <h1 slot="header">Este es el encabezado</h1>
        <p>{sessionInfoState.sessionInfo.role}</p>
        <p>Este es el contenido principal</p>
        <p slot="user">
          usuario: {sessionInfoState.sessionInfo.profile?.username}
        </p>
        <p slot="id">id: {sessionInfoState.sessionInfo.profile?.id}</p>
        <p slot="mail">mail: {sessionInfoState.sessionInfo.profile?.email}</p>
      </Profile_section>
    </Container_card>
    <div class="pt-8"><Personal_section sessionInfoState={sessionInfoState} client:load /></div>
  </Main>
  {sessionInfoState.sessionState === SessionState.Registered && <ProfileFotoSrc imgPerfil={sessionInfoState.sessionInfo.profile.image as string} client:load/>}
</Layout>
