---
title: "Profile";

import Layout from "@/layouts/Layout.astro";
import Main from "@/components/Main.astro";
import Profile_section from "@/sections/Profile_section.astro";
import Container_card from "@/sections/Container_card.astro";

//Session handling//////////////////////////// prettier-ignore
import {sessionHandler,sessionStateCheck} from "@/controllers/logic"; // prettier-ignore
import {getSession} from "auth-astro/server"; // prettier-ignore
import type {ProfileSession,SessionState,sessionInfoState} from "@/models/types"; // prettier-ignore
let sessionInfoState: sessionInfoState = {} as sessionInfoState; // prettier-ignore
// prettier-ignore
try {
  const sessionInfo: ProfileSession = await sessionHandler(await getSession(Astro.request));
  const sessionState: SessionState = await sessionStateCheck(sessionInfo);
  sessionInfoState = { sessionState, sessionInfo };
  console.log(sessionInfoState);
  if ( sessionInfoState.sessionState === 1 || sessionInfoState.sessionState === 0 ) {
    return Astro.rewrite("/401");
  }
} catch (error) {
  console.error(error);
}
//End handling//////////////////////////

const userName =
  sessionInfoState.sessionInfo.profile?.username ||
  sessionInfoState.sessionInfo.OAuth.user?.name ||
  "a Imagen";
---

<Layout title=`Bienvenido ${userName}`>
  <Main>
    <Container_card>
      <Profile_section
        profilePhotoSrc={sessionInfoState.sessionInfo.profilePhotoSrc}
        role={sessionInfoState.sessionInfo.role}
      >
        <h1 slot="header">Este es el encabezado</h1>
        <p>{sessionInfoState.sessionInfo.role}</p>
        <p>Este es el contenido principal</p>
        <p slot="user">
          usuario: {sessionInfoState.sessionInfo.profile?.username}
        </p>
        <p slot="id">id: {sessionInfoState.sessionInfo.profile?.id}</p>
        <p slot="mail">mail: {sessionInfoState.sessionInfo.profile?.email}</p>
      </Profile_section>
    </Container_card>
  </Main>
</Layout>
