---
title: "Profile";

import Layout from "@/layouts/Layout.astro";
import Main from "@/components/Main.astro";
import Profile_section from "@/sections/Profile_section.astro";

//Session handling//////////////////////////
import type {
  ClientSession,
  SessionState,
  sessionInfoState,
} from "@/consts/types";

import {
  sessionHandler,
  sessionStateCheck,
} from "@/services/server_side_logic";
import { getSession } from "auth-astro/server";

let sessionInfoState: sessionInfoState = {} as sessionInfoState;

try {
  const sessionInfo: ClientSession = await sessionHandler(await getSession(Astro.request));
  const sessionState: SessionState = await sessionStateCheck(sessionInfo);
  sessionInfoState = { sessionState, sessionInfo };
  console.log(sessionInfoState);
  if (
    sessionInfoState.sessionState === 1 ||
    sessionInfoState.sessionState === 0
  ) {
    return Astro.rewrite("/401");
  }
} catch (error) {
  console.error(error);
}
//End session handling///////////////////////

const userName = sessionInfoState.sessionInfo.client?.username || sessionInfoState.sessionInfo.OAuth.user?.name || "a Imagen";
---
<Layout title=`Bienvenido ${userName}`>
  <Main>
    <Profile_section profilePhotoSrc={sessionInfoState.sessionInfo.profilePhotoSrc}>
      <h1 slot="header">Este es el encabezado</h1>
      <p>{sessionInfoState.sessionInfo.role}</p>
      <p>Este es el contenido principal</p>
      <p slot="user">usuario: {sessionInfoState.sessionInfo.client?.username}</p>
      <p slot="id">id: {sessionInfoState.sessionInfo.client?.id}</p>
      <p slot="mail">mail: {sessionInfoState.sessionInfo.client?.email}</p>
    </Profile_section>
  </Main>
</Layout>