---
title: "Profile";

import Layout from "@/layouts/Layout.astro";
import Main from "@/components/Main.astro";
import Profile_section from "@/sections/Profile_section.astro";

//SESSION HANDLER////////////////////////////////////////
import type {sessionInfoState} from "@/models/types"; // prettier-ignore
import { sessionHandling } from "@/services/server/logic/handlers/sessionhandler.astro"; // prettier-ignore
const sessionInfoState = await sessionHandling(Astro.request, Astro.cookies) as sessionInfoState; // prettier-ignore
if (sessionInfoState.sessionState === 1 || sessionInfoState.sessionState === 0) return Astro.redirect("/register"); // prettier-ignore
//SESSION HANDLER////////////////////////////////////////

const userName =
  sessionInfoState.sessionInfo.profile?.username ||
  sessionInfoState.sessionInfo.OAuth.user?.name ||
  "a Imagen";
---

<Layout title=`Bienvenido ${userName}`>
  <Main>
    <Profile_section
      profilePhotoSrc={sessionInfoState.sessionInfo.profilePhotoSrc}
      role={sessionInfoState.sessionInfo.role}
    >
      <h1 slot="header">Este es el encabezado</h1>
      <p>{sessionInfoState.sessionInfo.role}</p>
      <p>Este es el contenido principal</p>
      <p slot="user">
        usuario: {sessionInfoState.sessionInfo.profile?.username}
      </p>
      <p slot="id">id: {sessionInfoState.sessionInfo.profile?.id}</p>
      <p slot="mail">mail: {sessionInfoState.sessionInfo.profile?.email}</p>
    </Profile_section>
  </Main>
</Layout>
