---
title: "Registro";

import Layout from "@/layouts/Layout.astro";
import Main from "@/components/Main.astro";
import Container_card from "@/sections/Container_card.astro";
import { SignIn } from "auth-astro/components";
// import Register_section from "@/sections/Register_section.astro";
import Register_section_react from "@/sections/Register_section_react/Register_section_react";

//SERVICE CHECK//////////////////////////////////////////
import {servicecheck} from "@/services/server/fetching/fetch";
if(!await servicecheck()) return Astro.redirect("/not_connected");
//SERVICE CHECK//////////////////////////////////////////

//SESSION HANDLER////////////////////////////////////////
import type {sessionInfoState} from "@/models/types"; // prettier-ignore
import { sessionHandling } from "@/services/server/logic/handlers/sessionhandler.astro"; // prettier-ignore
import { computePreferredLocale } from "node_modules/astro/dist/i18n/utils";
const sessionInfoState = await sessionHandling(Astro.request, Astro.cookies) as sessionInfoState; // prettier-ignore
if (sessionInfoState.sessionState === 2) return Astro.redirect("/perfil"); // prettier-ignore
//SESSION HANDLER////////////////////////////////////////

const userName =
  sessionInfoState.sessionInfo.profile?.username ||
  sessionInfoState.sessionInfo.OAuth.user?.name ||
  "a Imagen";

const title = sessionInfoState.sessionState === 1 ? `Complete su registro ${userName}`: "Registrese";
---

<Layout title={title}>
    <Main>
      <Container_card>
          {sessionInfoState.sessionState == 1 && <Register_section_react sessionInfoState={sessionInfoState} client:load/>}
          {sessionInfoState.sessionState == 0 && <SignIn provider={"google"} options={{ callbackUrl: "/perfil" }}>Iniciar sesión</SignIn>}
      </Container_card>
    </Main>
  </Layout>